.like_unlike_div{id: "like_#{c.id}"}
	=render 'confessions/like_unlike' , c: c
%h4= pluralize(c.confessioncomments.count,"Comment")
-if (c.confessioncomments.size > 5 )
	= link_to 'load more' , c 
- @array = c.confessioncomments.last(5)
-@array.each do |com|		
	#single_comment.clearfix
		#remove.right
			-if current_amitian == com.amitian 
				=link_to '',[com.confession,com] , method: :delete ,remote: true, class:'glyphicon glyphicon-remove'
			-elsif current_amitian == c.amitian
				=link_to '',[com.confession,com] , method: :delete ,remote: true, class:'glyphicon glyphicon-remove'
		
		.cmnt_dp.inactiveLink
			- if !com.amitian.profilepic?
				-if com.amitian.gender == 'Male'
					=image_tag ('93.svg')
				-else 
					=image_tag('manager_photo.svg')
			-else
				=link_to image_tag(com.amitian.profilepic), com.amitian 

		=link_to com.amitian.fullname+":" , com.amitian
		=auto_link(com.content)
		%br
.load-more-container

#form.clearfix		
	=form_for( ([c,c.confessioncomments.build]), remote: true ) do |f|
		.cmnt
			=f.text_area :content, placeholder: 'Add a comment...', class: "form-control comment_ta", id: "comment_content_#{c.id}"
		=f.submit 'Comment'		, clasS:'btn btn-default cbtn'