#index_main_div
	.lead.grey.text-center
		= pluralize(@confessions.count, 'Confession')
		tagged with
		= '#'+params[:tag]
	- @confessions.each do |c|
		.col-sm-6
			= render 'confessions' , c: c