#index_main_div
	=render 'amitians/show_profile_head'
	.container-fluid
		- if @amitian.about_amitian != nil
			-about = @amitian.about_amitian
			=link_to 'Edit' , edit_about_amitian_path(@amitian) , class: 'right' if @amitian == current_amitian
			.container-fluid.clearfix
				.tab
					%button.tablink{ onclick:"openCity(event, 'about')"}
						About
					%button.tablink{ onclick:"openCity(event, 'clubs')"}
						Clubs
					%button.tablink{ onclick:"openCity(event, 'events')"}
						Events
					%button.tablink{ onclick:"openCity(event, 'followers')"}
						Followers
					%button.tablink{ onclick:"openCity(event, 'follows')"}
						Follows
				#about.tabcontent
					= render 'abouts' , about: about

				#clubs.tabcontent
					.h1.grey.text-center clubs
					- @clubs.each do |club|
						=render 'clubs' , club: club
				#events

				#followers
				#follows
		- else
			.alert.alert-info
				%p 
					No Abouts for
					= @amitian.fullname


	%footer.footer
		= render 'home/footer'
	=# first part my details 
	=# second part my connections / friends 
	=# third part my top 5 confessions
	=# 
