%li
	.panel.panel-default{'data-conversation-id': c.id }
		.panel-heading
			=link_to c.opposed_amitian(amitian).fullname ,'',class: 'toggle-window'
			=link_to 'x' , close_conversation_path(c) , class: 'btn btn-default btn-xs pull-right' , remote: true , method: :post
		.panel-body{'style':{'display':'none;'}}
			.messages-list
				%ul
					=render 'conversations/conversation_content' , messages: c.messages , amitian: amitian


			%form.new_message
				%input{'name':'conversation_id','type':'hidden','value': "#{c.id}"}
				%input{'name':'amitian_id','type':'hidden' , 'value':"#{amitian.id}"}
				%textarea{'name':'body','class':'form-control'}
				%input{'type':'submit','class':'btn btn-success' , 'value':'send'}
			