<%if amitian_signed_in?%>
<% if @amitian != current_amitian %>
  <div id="follow_form_<%= @amitian.id %>">
  <% if current_amitian.following?(@amitian) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
<%end%>