#footer.navbar.navbar-default.text-center
	%ul
		%li{'data-target':'#aboutmodal' , 'data-toggle':'modal'}
			%a.modallink About 
		%li{'data-target':'#helpmodal' , 'data-toggle':'modal'}
			%a.modallink Help
		%li{'data-target':'#tncmodal' , 'data-toggle':'modal'}
			%a.modallink Terms and conditions
		%li{'data-target':'#jobmodal' , 'data-toggle':'modal'}
			%a.modallink Get a job
		%li{'data-target':'#adsmodal' , 'data-toggle':'modal'}
			%a.modallink Ads
		%li=link_to 'CEO @AlaapDhall' , 'https://www.alaapdhall.in' , 'target':'_blank'
