#aboutmodal.modal.fade.m{'tabindex':-1 , 'role':'dialog','aria-labelledby':'aboutmodal'}
	.modal-dialog.modal-lg{'role':'document'}
		.modal-content
			.modalheader
				%h1.h1.text-center
					Welcome to AmityHumor
					%small.lead
						created_by 
						%signature.signature Alaap Dhall
			%b.lead
				Amity Humor is a platform build with a mission to create a central network for all the Amity Campuses around the world.
				#about_img.shadow2
					=image_tag('am.jpg')
					%p.text-center.lead.imghead
						We're One
				%p
					It's an honor to work on a project like this and unite all the amitians from around the world.
					This is no 
					%em
						Amizone.
				.margin
				#row.row
					#col1.col-md-6.text-center
						.about_details.shadow
							=image_tag('anonydp.jpg')
							%h3
								Anonymous 
							%p
								Go Anonymous this time with Amity Humor.
								So, you don't really have to think twice before you CONFESS YOUR MIND.

					#col2.col-md-6.text-center
						.about_details.shadow
							=image_tag('heart.jpg')
							%h3
								Feeling lucky?
							%p
								We give you a list. You see it, Find your match...Create your own hope story. You are the reason for the people around you.
				.margin
				#row.row
					#col1.col-md-6.text-center
						.about_details.shadow
							=image_tag('Club.ico')
							%h3
								Clubs and Events
							%p
								You don't have to worry about advertising your clubs and events cz we gave you the key platform to create clubs and manage events.
								
					#col2.col-md-6.text-center
						.about_details.shadow
							=image_tag('search.jpg')
							%h3
								Inside Campus
							%p
								If you are done with confessions and need to know what's going on in or outside your campus? Well, we exactly know what you want.
				.margin		
				#row.row
					#col1.col-md-6.text-center
						.about_details.shadow
							=image_tag('follow.jpg')
							%h3
								Follow
							%p
								You only receive newsfeed from people belongs to your department. In order to receive feeds from others you can follow them to enlarge your family.
								
					#col2.col-md-6.text-center
						.about_details.shadow
							=image_tag('gallery.jpg')
							%h3
								Gallery
							%p
								Personify your profile with a 6 image Gallery. Your gallery will have a huge impact on who Pokes you, and can change your hope story for and ever.


								
						
