#aboutmodal.modal.fade.m{'tabindex':-1 , 'role':'dialog','aria-labelledby':'aboutmodal'}
	.modal-dialog.modal-lg{'role':'document'}
		.modal-content
			.modalheader
				%h1.h1.text-center
					Welcome to AmityConfessions
					%small.lead
						created_by 
						%signature.signature Alaap Dhall
			%b.lead
				Amity confessions is a platform build with a mission to create a central network for all the Amity Campuses around the world.
				#about_img.shadow2
					=image_tag('am.jpg')
					%p.text-center.lead.imghead
						We're One
				%p
					It's an honor to work on a project like this and unite all the amitians from around the world.s
					This is no 
					%em
						Amizone.
				#row.row
					#col1.col-md-6.text-center
						#about_details.shadow
							=image_tag('anonydp.jpg')
							%h3
								Anonymous 
							%p
								Go anonymous this time with amity confessions, 
								you don't really have to think twice before you confess.

					#col2.col-md-6.text-center
						#about_details.shadow
							=image_tag('avatar.png')
							%h3
								Profile
							%p
								Design your own profile.
								Make it look the way you want it to. Look attractive with covers and profile pictures.
				#row.row
					#col1.col-md-6.text-center
						#about_details.shadow
							=image_tag('amitynoida.png')
							%h3
								Choose your campus 
							%p
								Get confessions of amitians from your department regardless of whether you folow them or not.
								
					#col2.col-md-6.text-center
						#about_details.shadow
							=image_tag('search.jpg')
							%h3
								Find Friends
							%p
								Find anyone on AmiityConfessions
								and follow them to receive thier confessions in your news feed
				#row.row
					#col1.col-md-6.text-center
						#about_details.shadow
							=image_tag('follow.jpg')
							%h3
								Follow
							%p
								You only have news feed from people belongs to your department in order to receive feed from others you can follow them.
								
					#col2.col-md-6.text-center
						#about_details.shadow
							=image_tag('gallery.jpg')
							%h3
								Gallery
							%p
								Support your confessions with a beautiful picture.
								Upload your profile pics and cover to design your profile.


								
						
