#helpmodal.modal.fade.m{'tabindex':-1 , 'role':'dialog','aria-labelledby':'aboutmodal'}
	.modal-dialog.modal-lg{'role':'document'}
		.modal-content
			.text-center
				%h1 How to Use
			%p
				%ol
					%p
						%li We use simple FaceBook type Interface to make AmityConfessions more user friendly and provide better user experience.

					%p
						%li When you first sign Up. Your Home page will have feeds from everyone belongs to your department and all the anonymous posts. There is a possibility that your department don't have much feeds to show which results in Too much Anonymous Feeds in your confessions page.
					%p To fill up yout Feeds you can either follow users from other departments or you can ask your friends from your department to join amityconfessions and start confessing with you.
					%p
						%li You don't really have to reveal your identity when you post something. Hide who you are by selectinh annonymous from the selection box in your status bar. This will simply post your confession using an anonymous account from our database so no one will ever know that you are the culprit.
					%p
						%li We decided to make AmityConfessions a protocol to do what every amitian needs the most... A Tinder like gateway to find your partner.
					On the top right corner in navigation bar you can see a 
					%em 'Feeling lucky ?' 
					option. From their you can see all the girls/boys on amity confessions that might interest you.
					If you like someone you can simply goto their profile and Poke them. 
					%br
					Doing that will send a request to them. If they like you back by accepting your request, just like tinder, you both can now send text messages to each other.
