=form_for @gallery do |f|
	.form-group
		=f.label 'First Image'
		=f.file_field :g1 , class: 'form-control-file gal1'
	.form-group
		=f.label 'Second Image'
		=f.file_field :g2 , class: 'form-control-file gal2'
	.form-group
		=f.label 'Third Image'
		=f.file_field :g3 , class: 'form-control-file gal3'
	.form-group
		=f.label 'Fourth Image'
		=f.file_field :g4 , class: 'form-control-file gal4'
	.form-group
		=f.label 'Fifth Image'
		=f.file_field :g5 , class: 'form-control-file gal5'
	.form-group
		=f.label 'Sixth Image'
		=f.file_field :g6 , class: 'form-control-file gal6'
	=f.submit 'Start Upload' , class: 'btn btn-primary'			