// Place all the styles related to the friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.REQUEST_DIV{
	display: inline-block;
	min-width: 250px;
	position: relative;
	padding: 5px;
	}
#accreq{
	margin: 2px 5px 2px 0;
}
#delreq{
	margin: 2px 0 2px 0;
}
